* {
    box-sizing: border-box;
}
main nav {
    position: relative;
    height: 90px;
    line-height: 90px;
}
.contain {
    width: 1200px;
    /* height: 1100px; */
    background-color:rgba(255,255,255,1);
    

}
.topic {
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 20px; */
    border-bottom: 1px solid rgba(229,229,229,1);;
    
}

/* 多选 */
p.multiple_title {
    position: absolute;
    width: 240px;
    height: 30px;
    text-align: center;
    color: #F46657;
    background: url(../images/pink_frame.png) no-repeat;
    left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    top: 30px;
}
/* 判断 */
p.multiple_title.judge_title {
    background: url(../images/judge_frame\ .png) no-repeat;
    color: #3FADDF;
}
/* 简答 */
p.multiple_title.judge_title.shortAnswer {
    background: url(../images/shortAnswer.png) no-repeat;
    color: #586AEA;
}


.nav_star {
    position: absolute;
    right: 0;
}
.nav_star>span{
    display: inline-block;
    width: 36px;
    height: 36px;
    color: #CCCCCC;
    background-color: #EDEDED;
    border-radius: 50%;
    line-height: 30px;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
}
.nav_star>div {
    display: inline-block;;
    width:102px;
    height:28px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    line-height:28px;
}
.nav_star>div>span:nth-child(1) {
    font-size: 20px;
    color: #586AEA;
}
.nav_star>div>span:nth-child(2) {
    font-size: 16px;
    color: #333333;
}

.question {
    width:1160px;
    height:50px;
    font-size:18px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:black;
    line-height:25px;
}
/* 多选 */
.question_list {
    margin-top: 30px;
}
/* 判断 */
.question_judge{
    margin-top: 30px;
}
/* 简答 */
.question_shortAnswer {
    margin-top: 30px;
}
.question_shortAnswer > p {
    color: #586AEA;
    margin-bottom: 10px;
}

.question_judge > span {
    color: #586AEA;
}

.question_list li {
    cursor: pointer;
}

.question_list> li {
    height:20px;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:black;
    line-height:20px;
    margin-top: 20px;
}
/* 解析显示组件 */
.analysis {
    width:1160px;
    height:120px;
    background:rgba(248,248,248,1);
    border-radius:2px;
    margin-top: 30px;
    /* margin-left: 2; */
    padding: 2px 20px;
    display: none;
}
.analysis span {
    color: rgba(88,106,234,1);
}
/* 按钮组件 */
#analysis {
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(88,106,234,1);
    cursor: pointer;
    margin-top: 30px;
    display: block;
}

/* .topic {
    margin-left: 20px;
} */
.attribute_icon {
    text-align: right;
    padding: 20px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 19px;

}
.like {
    margin-left: 25px;
    cursor: pointer;
}
.comment {
    margin-left: 20px;
}
.comment_submit {
    padding: 5px 25px;
    border-radius: 15px 15px;
    color: #FFFFFF;
    background-color: #586AEA;
}
h2 {
    width:109px;
    height:22px;
    font-size:16px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    line-height:22px;
    margin-bottom: 21px;
}
.comment textarea {
    resize: none;
}
.comment_lists>li>img:nth-child(1) {
    vertical-align: top;    
}
.emtion_contain {
    margin-left: 28px;
    margin-right: 20px;
}

.emtion_control {
    /* margin-top: 10px; */
    margin-bottom: 37px;
}
.emtion_control span {
    color: #999999;
}

.comment_lists li:nth-child(4) {
    border: 0;
}
.comment_content {
    padding-bottom: 20px;
    padding-top: 12px;
}
.comment_avatar {
    padding-top: 24px;
}
.comment_users {
    margin-right: 28px;
    border-bottom: 1px solid rgba(229,229,229,1);
}